---
import Badge from "../components/Badge.astro";
import type { PostType } from "../types/PostType";
import MainLayout from "./MainLayout.astro";

export interface Props {
	frontmatter: PostType
	headings: { depth: number; slug: string; text: string }[]
}

const { headings, frontmatter: { 
	title = "", 
	description = "", 
	pubDate = "", 
	heroImage = "", 
	topics = [], 
	showIndex = true,
}}: Props = Astro.props;
---

<style is:global>
	#PostContent p { margin-bottom: 2rem; }
	#PostContent h2, #PostContent h3 { font-weight: bold; margin-bottom: .5rem; }
	#PostContent ol { padding-left: 3rem; list-style: decimal; margin-bottom: 2rem; }


	#PostContent [id]::before {
		content: '';
		display: block;
		height:      50px;
		margin-top: -50px;
		visibility: hidden;
	}
</style>

<MainLayout>
	<div class="grid grid-cols-[28rem_auto_28rem] justify-center mt-10">	
		<div/>
		<div class="max-w-[50rem]">
			
			<div class="flex items-end mb-2">
				{ topics.map(t => <Badge className="mr-2"> { t } </Badge> )}
				{ pubDate && <time class="leading-none"> {pubDate} </time> }
			</div>

			<hr class="my-4"/>

			<strong> <h1 class="text-black !mb-5"> {title} </h1> </strong>
			<p class="!mb-5"> {description} </p>

			{heroImage && (<img class="mb-5"
				width={720} height={360}
				src={heroImage} alt={description}
			/>)}
			
			<hr class="mb-5"/>
		
			<div id="PostContent">
				<slot/>
			</div>
		</div>
		<div class="ml-auto mr-8 w-[14rem]">
			<div class="sticky top-32 text-xs">
				
				{ showIndex && <div class="mb-6">
					<p class="mb-2 font-bold"> Contenido: </p>
					{ headings.map(h => 
						<a class="block px-3 py-1 transition border-l-4 border-l-gray-200 text-black hover:bg-gray-100 hover:border-l-gray-500"  href={`#${h.slug}`}> 
							<p title={h.text} class="line-clamp-2" style={`margin-left: ${(h.depth-2)*20}px`}> {h.text} </p> 
						</a>
					)}
				</div>}
				
				<div>
					<p class="mb-2 font-bold"> Related Posts: </p>
				</div>
				
			</div>
		</div>
	</div>
</MainLayout>
