---
import AddLinksToHeadings from "../components/AddLinksToHeadings.astro";
import Badge from "../components/Badge.astro";
import type { PostType } from "../types/PostType";
import MainLayout from "./MainLayout.astro";

export interface Props {
	frontmatter: PostType
	headings: { depth: number; slug: string; text: string }[]
}

const { headings, frontmatter: post }: Props = Astro.props;
const { title, description, pubDate, showIndex = true, topics, heroImage } = post

const relatedPosts = 
	(await Astro.glob('./../pages/blog/*.{md,mdx}'))
	.map((p:any) => ({...p.frontmatter, url: p.url} as PostType))
	.filter((p:PostType) => p.title !== title && !p.draft)
	.map((p:PostType) => {
		let commonPost = {commonTopics: 0, post: p}
		p.topics?.forEach(topic => {
			if(!topics.includes(topic)) return
			commonPost.commonTopics++	  
		});
		return commonPost
	})
	.sort((a, b) => b.commonTopics - a.commonTopics)
	.filter(p => p.commonTopics > 0)
	.slice(0, 5)
	.map(p => p.post)
---

<style is:global>
	#PostContent p { margin-bottom: 2rem; }
	#PostContent ol { padding-left: 3rem; list-style: decimal; margin-bottom: 2rem; }
	
	#PostContent [id] { 
		font-weight: bold; 
		margin-bottom: .5rem; 
		position: relative;
	}
	#PostContent [id]::before {
		content: '';
		display: block;
		height:      50px;
		margin-top: -50px;
		visibility: hidden;
	}

	#PostContent [id] .Heading-Link { opacity: 0; }
	#PostContent [id]:hover .Heading-Link { opacity: 1; }

	
</style>

<MainLayout>
	<div class="grid grid-cols-[28rem_auto_28rem] justify-center mt-10">	
		<div/>
		<div class="max-w-[50rem]">
			
			<div class="flex items-end mb-2">
				{ topics.map(t => <Badge className="mr-2"> { t } </Badge> )}
				{ pubDate && <time class="leading-none"> {pubDate} </time> }
			</div>

			<hr class="my-4"/>

			<strong> <h1 class="text-black !mb-5"> {title} </h1> </strong>
			<p class="!mb-5"> {description} </p>

			{heroImage && (<img class="mb-5"
				width={720} height={360}
				src={heroImage} alt={description}
			/>)}
			
			<hr class="mb-5"/>
		
			<div id="PostContent" class="mb-40">
				<slot/>
			</div>


			<hr class="mb-4"/>
			<h2 class="font-bold mb-4"> ¿Quién ha escrito esto? </h2>
			<div class="flex items-end mb-2">
				<img width="48px" height="48px" class="rounded-full" src="/seran.jpg" alt="Foto de Sergio Moreno Antequera (Seran)">
				<p class="ml-2 leading-6 italic"> Sergio Moreno Antequera<br/>(Seran)</p>
			</div>
			<div>
				Soy un desarrollador web apasionado por usar y crear nuevas técnologias para
				planear y diseñar arquitecturas frontend que soporten aplicaciones web exigentes.
			</div>

		</div>
		<div class="ml-auto mr-8 w-[14rem]">
			<div class="sticky top-32 text-xs">
				
				{ headings.length > 0 && showIndex && 
					<div class="mb-6">
						<p class="mb-2 font-bold"> Contenido: </p>
						{ headings.map(h => 
							<a class="block px-3 py-1 transition border-l-4 border-l-gray-200 text-black hover:bg-gray-100 hover:border-l-gray-500"  href={`#${h.slug}`}> 
								<p title={h.text} class="line-clamp-2" style={`margin-left: ${(h.depth-2)*20}px`}> {h.text} </p> 
							</a>
						)}
					</div>
				}
				
				{ relatedPosts.length > 0 && 
					<div>
						<p class="mb-2 font-bold"> Posts relacionados: </p>
						{ relatedPosts.map(p => 
						<a class="block px-3 py-1 transition border-l-4 border-l-gray-200 text-black hover:bg-gray-100 hover:border-l-gray-500"  href={`${p.url}`}> 
							<p title={p.title} class="line-clamp-2"> {p.title} </p> 
						</a>
					)}
					</div>
				}
				
			</div>
		</div>
	</div>

	<AddLinksToHeadings/>
	
</MainLayout>
